<div [formGroup]="skillForm">
  <div class="dx-field form-new-skill">
    <div class="dx-field-label">
      Новая способность
    </div>
    <div class="dx-field-value">
      <dx-text-box [inputAttr]="{ 'aria-label': 'Name' }"
                   [showClearButton]="true"
                   formControlName="name"
                   width="150px"
      ></dx-text-box>
    </div>
    <dx-button (click) = 'addSkill()'
               text="Добавить способность"
               width="190px"
               height="25px"
    ></dx-button>
  </div>
</div>
