<div [formGroup]="filterHeroesForm">
  <div class="dx-fieldset">
    <div class="level-filter">
      <div class="dx-field">
        <div class="dx-field-label filter-label">
          Уровень
        </div>
      </div>
      <div class="dx-field filter">
        <div class="dx-field-label filter-label">
          От:
        </div>
        <div class="dx-field-value">
          <dx-text-box [inputAttr]="{ 'aria-label': 'Name' }"
                       [showClearButton]="true"
                       formControlName="levelDown"
                       width="80px">
            <dx-validator>
              <dxi-validation-rule type="numeric"
                                   message="Только числа."
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
      <div class="dx-field filter">
        <div class="dx-field-label filter-label">
          До:
        </div>
        <div class="dx-field-value">
          <dx-text-box [inputAttr]="{ 'aria-label': 'Name' }"
                       [showClearButton]="true"
                       formControlName="levelUp"
                       width="80px">
            <dx-validator>
              <dxi-validation-rule type="numeric"
                                   message="Только числа."
              ></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Способности
      </div>
      <div class="dx-field-value">
        <dx-tag-box [dataSource]="_skills$$ | async"
                    valueExpr="name"
                    displayExpr="name"
                    formControlName="skills">
          <dx-validator>
            <dxi-validation-rule type="stringLength"
                                 [min]="2"
                                 message="You must add a skill (skills) of hero. If you dont find your skill, add one in skills form."
            ></dxi-validation-rule>
          </dx-validator>
        </dx-tag-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Поиск по имени:
      </div>
      <div class="dx-field-value">
        <dx-text-box [inputAttr]="{ 'aria-label': 'Name' }"
                     [showClearButton]="true"
                     formControlName="name"
        ></dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label"
           style="width: 350px">
        Сортировка по возрастанию уровня:
      </div>
      <div class="dx-field-value">
        <dx-check-box [elementAttr]="{ 'aria-label': 'Checked' }"
                      formControlName="sort"
        ></dx-check-box>
      </div>
    </div>
  </div>
</div>
<dx-accordion itemTemplate="item"
              itemTitleTemplate="title"
              [dataSource]="_heroes$$ | async | filterHeroes: this.filterHeroesForm.controls['sort'].value! : this.filterHeroesForm.controls['levelDown'].value! : this.filterHeroesForm.controls['levelUp'].value! : this.filterHeroesForm.controls['name'].value! : this.filterHeroesForm.controls['skills'].value! "
              [collapsible]="true"
              class="show-heroes">
  <div  *dxTemplate="let hero of 'title'">
    <div class="hero-title">
      <div>
        {{ hero[LItem.NAME] }}
      </div>
      <div>
        Уровень: {{ hero[LHero.LEVEL] }}
      </div>
    </div>
  </div>
  <div class="hero-info"
       *dxTemplate="let hero of 'item'">
    <div class="hero-info-card">
      <div>
        {{ hero[LHero.POWER] }}
      </div>
      <div class="skills">
        <div *ngFor = 'let skill of hero[LHero.SKILLS]'>
          {{ skill }}
        </div>
      </div>
    </div>
    <dx-button class="button-info"
               text="Редактировать"
               (onClick)="togglePopup(hero, hero[LItem.ID])"
    ></dx-button>
    <dx-popup [height]="500"
              [width]="500"
              [(visible)]="isPopupVisible"
              [hideOnOutsideClick]="true"
              title="Редактирование персонажа {{hero[LItem.NAME]}}">
      <div [formGroup]="changeHeroForm">
        <div class="dx-field">
          <div class="dx-field-label">
            Имя
          </div>
          <div class="dx-field-value">
            <dx-text-box [inputAttr]="{ 'aria-label': 'Name' }"
                         [showClearButton]="true"
                         formControlName="name"
                         text="{{hero[LItem.NAME]}}">
              <dx-validator>
                <dxi-validation-rule type="stringLength"
                                     [min]="2"
                                     message="Name must have at least 2 symbols"
                ></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">
            Сила
          </div>
          <div class="dx-field-value">
            <dx-text-box [inputAttr]="{ 'aria-label': 'Name' }"
                         [showClearButton]="true"
                         formControlName="power"
                         text="{{ hero[LHero.POWER] }}">
              <dx-validator>
                <dxi-validation-rule type="stringLength"
                                     [min]="1"
                                     message="You must write a power of hero"
                ></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">
            Способности {{ hero[LHero.SKILLS] }}
          </div>
          <div class="dx-field-value">
            <dx-tag-box [dataSource]="_skills$$ | async"
                        [value]="currentSkills"
                        [showSelectionControls]="true"
                        valueExpr="name"
                        displayExpr="name"
                        formControlName="skills">
              <dx-validator>
                <dxi-validation-rule type="stringLength"
                                     [min]="2"
                                     message="You must add a skill (skills) of hero. If you dont find your skill, add one in skills form."
                ></dxi-validation-rule>
              </dx-validator>
            </dx-tag-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Начальный уровень</div>
          <div class="dx-field-value">
            <dx-text-box [inputAttr]="{ 'aria-label': 'Name' }"
                         [showClearButton]="true"
                         formControlName="level"
                         text="{{ hero[LHero.LEVEL] }}">
              <dx-validator>
                <dxi-validation-rule type="numeric"
                                     message="Only numbers."
                ></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
        <dx-button (click)="changeHero(hero[LItem.ID])"
                   text="Редактировать героя"
                   type="submit"
        ></dx-button>
      </div>
    </dx-popup>
  </div>
</dx-accordion>
