<div>
  <div class="dx-fieldset">
    <div class="level-filter">
      <div class="dx-field">
        <div class="dx-field-label filters-label" >
          Уровень
        </div>
      </div>
      <div class="filters">
        <div class="dx-field filter">
          <div class="dx-field-label filter-label">
            От:
          </div>
          <div class="dx-field-value">
            <dx-text-box [showClearButton]="true"
                         [formControl]="levelDownControl"
                         [isValid]="levelDownControl.valid"
                         width="80px"
            ></dx-text-box>
          </div>
        </div>
        <div class="dx-field filter">
          <div class="dx-field-label filter-label">
            До:
          </div>
          <div class="dx-field-value">
            <dx-text-box [showClearButton]="true"
                         [formControl]="levelUpControl"
                         [isValid]="levelUpControl.valid"
                         width="80px"
            ></dx-text-box>
          </div>
        </div>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Способности
      </div>
      <div class="dx-field-value">
        <dx-tag-box [dataSource]="skills$ | async"
                    [formControl]="skillsControl"
                    valueExpr="name"
                    displayExpr="name"
        ></dx-tag-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Поиск по имени:
      </div>
      <div class="dx-field-value">
        <dx-text-box [inputAttr]="{ 'aria-label': 'Name' }"
                     [showClearButton]="true"
                     [formControl]="nameControl"
        ></dx-text-box>
      </div>
    </div>
    <div class="dx-field dx-field-sort">
      <div style="width: 600px"
           (click)="sortHeroes()"
           class="dx-field-label">
        Сортировка по возрастанию уровня:
      </div>
      <div class="sort-box">
        <img [ngClass]="{ 'no-sort': (sortStatus % 3 == 0), 'up-sort': (sortStatus % 3 == 1), 'down-sort': (sortStatus % 3 == 2)}"
             ngSrc="../../../assets/img/arrow.png"
             height="20"
             width="20"
             alt="">
      </div>
    </div>
  </div>
</div>
<dx-accordion [dataSource]="heroes$ | async | filterHeroes: sortStatus : this.levelDownControl.value! : this.levelUpControl.value! : this.nameControl.value! : this.skillsControl.value! "
              [collapsible]="true"
              itemTemplate="item"
              itemTitleTemplate="title"
              noDataText="Нет данных с сервера, проверьте подключение"
              class="show-heroes">
  <div  *dxTemplate="let hero of 'title'">
    <div class="hero-title">
      <div>
        {{ hero[LItem.NAME] }}
      </div>
      <div>
        Уровень: {{ hero[LHero.LEVEL] }}
      </div>
    </div>
  </div>
  <div *dxTemplate="let hero of 'item'"
       class="hero-info">
    <div class="hero-info-card">
      <div>
        {{ hero[LHero.POWER] }}
      </div>
      <div class="skills">
        <div *ngFor = 'let skill of hero[LHero.SKILLS]'>
          {{ skill }}
        </div>
      </div>
    </div>
    <dx-button (click)="openEditHeroPopup(hero)"
               text="Редактировать"
               class="button-info"
    ></dx-button>
  </div>
</dx-accordion>
<app-popup *ngIf="isPopupVisible"
           [currentHero]="currentHero"
           [(isPopupVisible)]="isPopupVisible"
></app-popup>
