$bg-color: #45b7ea;
@mixin df {
  display: flex;
  flex-direction: column;
}
@mixin form-dis{
  background-color: $bg-color;
  padding: 15px;
}
.app{
  display: flex;
  flex-direction: row;
  width: 1200px;
  min-height: 400px;
  flex-wrap: wrap;
}

.forms {
  @include df;
  width: 400px;
  height: 500px;
  @include form-dis;
  margin-right: 15px;
  border-radius: 15px;
  padding-top: 20px;
}
.form-hero{
  width: 400px;
  height: 350px;
  @include df;
}
.form-skill{
  width: 400px;
  height: 100px;
  @include df;
  justify-content: space-between;
}
.show-heroes{
  width: 600px;
  min-height: 350px;
  border-radius: 15px;
  @include form-dis
}

