$bg-color: #d3d3d3;
@mixin df {
  display: flex;
  justify-content: space-between;
}
@mixin form-dis{
  background-color: $bg-color;
  padding: 15px;
}
.app{
  @include df;
  width: 1100px;
  min-height: 400px;
}
.form-hero{
  @include df;
  width: 400px;
  height: 450px;
  flex-direction: column;
  @include form-dis
}
.form-skill{
  width: 600px;
  min-height: 350px;
  @include form-dis
}

