<dx-popup [height]="400"
          [width]="500"
          [visible]="true"
          [hideOnOutsideClick]="true"
          (onHidden)="close()"
          title="Редактирование персонажа {{ currentHero[LItem.NAME] }}">
  <div>
    <div class="dx-field">
      <div class="dx-field-label">
        Имя
      </div>
      <div class="dx-field-value">
        <dx-text-box [showClearButton]="true"
                     [formControl]="nameControl"
                     [isValid]="!(nameControl.invalid && (nameControl.dirty || nameControl.touched))"
                     text="{{ currentHero[LItem.NAME] }}"/>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Сила
      </div>
      <div class="dx-field-value">
        <dx-text-box [showClearButton]="true"
                     [formControl]="powerControl"
                     [isValid]="!(powerControl.invalid && (powerControl.dirty || powerControl.touched))"
                     text="{{ currentHero[LHero.POWER] }}"/>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Способности
      </div>
      <div class="dx-field-value">
        <dx-tag-box [dataSource]="skills$ | async"
                    [value]="currentHero[LHero.SKILLS]"
                    [showSelectionControls]="true"
                    [isValid]="!(skillsControl.invalid && (skillsControl.dirty || skillsControl.touched))"
                    [formControl]="skillsControl"
                    valueExpr="name"
                    displayExpr="name"/>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Начальный уровень
      </div>
      <div class="dx-field-value">
        <dx-text-box [showClearButton]="true"
                     [formControl]="levelControl"
                     [isValid]="!(levelControl.invalid && (levelControl.dirty || levelControl.touched))"
                     text="{{ currentHero[LHero.LEVEL] }}"/>
      </div>
    </div>
    <dx-button (click)="changeHero(currentHero[LItem.ID]!)"
                text="Редактировать героя"/>
  </div>
</dx-popup>
