<div class="form-new-hero">
    <div class="dx-field">
      <div class="dx-field-label">
        Имя
      </div>
      <div class="dx-field-value">
        <dx-text-box [showClearButton]="true"
                     [formControl]="nameControl"
                     [isValid] = '!(nameControl.invalid && (nameControl.dirty || nameControl.touched))'
        ></dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Сила
      </div>
      <div class="dx-field-value">
        <dx-text-box [showClearButton]="true"
                     [formControl]="powerControl"
                     [isValid] = '!(powerControl.invalid && (powerControl.dirty || powerControl.touched))'
        ></dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Способности
      </div>
      <div class="dx-field-value">
        <dx-tag-box [dataSource]=" skills$ | async"
                    [formControl]="skillsControl"
                    [isValid] = '!(skillsControl.invalid && (skillsControl.dirty || skillsControl.touched))'
                    valueExpr="name"
                    displayExpr="name"
        ></dx-tag-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Начальный уровень
      </div>
      <div class="dx-field-value">
        <dx-text-box [showClearButton]="true"
                     [formControl]="levelControl"
                     [isValid] = '!(levelControl.invalid && (levelControl.dirty || levelControl.touched))'
        ></dx-text-box>
      </div>
    </div>
    <dx-button (click)="addHero(heroForm)"
               text="Добавить героя"
    ></dx-button>
</div>


