@mixin form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dx-field {
  display: flex;
}
.form-new-hero{
  @include form;
  height: 300px;
}
.form-new-skill{
  @include form;
  height: 130px;

}
