<div [formGroup]="heroForm"
     class="form-new-hero">
    <div class="dx-field">
      <div class="dx-field-label">
        Имя
      </div>
      <div class="dx-field-value">
        <dx-text-box [inputAttr]="{ 'aria-label': 'Name' }"
                     [showClearButton]="true"
                     formControlName="name"
        ></dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Сила
      </div>
      <div class="dx-field-value">
        <dx-text-box [inputAttr]="{ 'aria-label': 'Name' }"
                     [showClearButton]="true"
                     formControlName="power"
        ></dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Способности
      </div>
      <div class="dx-field-value">
        <dx-tag-box [dataSource]="_skills$$ | async"
                    valueExpr="name"
                    displayExpr="name"
                    formControlName="skills"
        ></dx-tag-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Начальный уровень
      </div>
      <div class="dx-field-value">
        <dx-text-box [inputAttr]="{ 'aria-label': 'Name' }"
                     [showClearButton]="true"
                     formControlName="level"
        ></dx-text-box>
      </div>
    </div>
    <dx-button (click)="addHero()"
               text="Добавить героя"
               type="submit"
    ></dx-button>
</div>
<div [formGroup]="skillForm">
    <div class="dx-field form-new-skill">
        <div class="dx-field-label">
          Новая способность
        </div>
        <div class="dx-field-value">
            <dx-text-box [inputAttr]="{ 'aria-label': 'Name' }"
                         [showClearButton]="true"
                         formControlName="name"
                         width="150px"
            ></dx-text-box>
        </div>
        <dx-button (click) = 'addSkill()'
                   text="Добавить способность"
                   width="190px"
                   height="25px"
        ></dx-button>
    </div>
</div>

