<div [formGroup]="heroForm"
     class="form-new-hero">
    <div class="dx-field">
      <div class="dx-field-label">
        Имя
      </div>
      <div class="dx-field-value">
        <dx-text-box [showClearButton]="true"
                     formControlName="name"
                     [isValid] = '!(heroForm.controls[LItem.NAME].invalid && (heroForm.controls[LItem.NAME].dirty || heroForm.controls[LItem.NAME].touched))'
        ></dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Сила
      </div>
      <div class="dx-field-value">
        <dx-text-box [showClearButton]="true"
                     formControlName="power"
                     [isValid] = '!(heroForm.controls[LHero.POWER].invalid && (heroForm.controls[LHero.POWER].dirty || heroForm.controls[LHero.POWER].touched))'
        ></dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Способности
      </div>
      <div class="dx-field-value">
        <dx-tag-box [dataSource]=" skills$ | async"
                    valueExpr="name"
                    displayExpr="name"
                    formControlName="skills"
                    [isValid] = '!(heroForm.controls[LHero.SKILLS].invalid && (heroForm.controls[LHero.SKILLS].dirty || heroForm.controls[LHero.SKILLS].touched))'
        ></dx-tag-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">
        Начальный уровень
      </div>
      <div class="dx-field-value">
        <dx-text-box [showClearButton]="true"
                     formControlName="level"
                     [isValid] = '!(heroForm.controls[LHero.LEVEL].invalid && (heroForm.controls[LHero.LEVEL].dirty || heroForm.controls[LHero.LEVEL].touched))'
        ></dx-text-box>
      </div>
    </div>
    <dx-button (click)="addHero()"
               text="Добавить героя"
               type="submit"
    ></dx-button>
</div>


